body {
  margin: 0;
  background-image: url('../images/backtela.jpg');
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  
}

@media (max-width: 768px) {
  body {
    background-image: url('../images/backtela.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.man_login{
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.500);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
    height: 500px;
    width: 2000px;
    margin-left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 70px 70px;
    background-color: rgb(0, 0, 0, 0.75);
    box-shadow: 0px 10px 40px #000000;
    border-radius: 17px;
    box-sizing: border-box;
    transform: translateX(-50%);
}

.left{
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;  
}

.right{
  width: 10vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:right;  
}

.img_login{
align-items:flex-end
}

.card {
justify-content:center; 
margin-bottom :50px; 
}




.card h1 {
color:#ffffff; 
font-size :1.5em; 
margin-bottom :50px; 
}

.login__input {
border :2px solid #333; 
border-radius :8px; 
color :#333; 
font-size :1em; 
margin-bottom :15px; 
max-width :300px; 
outline :none; 
padding :15px; 
width :100%; 
}

.login__button {
background-color:#00b5cc; 
border :3px solid #b2df28; 
border-radius :8px; 
color:#fff; 
cursor:pointer; 
font-size :1em; 
max-width :300px; 
padding :15px; 
width :100%; 
}

.login__button :disabled {
background-color:#eee; 
border :2px solid #969595; 
color:#aaa; 
cursor:auto; 
}
